


 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     background: #c2e1f5;
     display: flex;
     justify-content: center;
 
}

h1 {
    text-align: center;
    color: rgb(75, 74, 74);
}

.app {
    margin: 20px auto;
}

.main-container {
    display: flex;
        justify-content: center;
   
        box-shadow: 5 10px 15px rgba(21, 85, 114, 0.1);
        border-radius: 10px;

  background-color: #d8e9f3;
    width: 70vw;
}

.left-container {
    width: 40%;
     background: #ebf4f7;
  padding: 15px;
   margin: 10px;
  border-radius: 10px;

  box-shadow: 5px 2px 15px rgba(24, 69, 95, 0.1);
}
.right-container{
   width: 60%;
       background: #ebf4f7;
  padding: 15px;
   box-shadow: 5px 2px 15px rgba(24, 69, 95, 0.1);

  border-radius: 10px;
  margin: 10px;
}

.card {
    background: #dce7eb;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
        font-weight: bold;

}

.add-btn {
    background-color: #007bff;
    color: white;
        width: 100%;
            border-radius: 5px;


}
.add-btn:hover{
  background-color: #0f63bd;
}

.reset-btn {
    background-color:  #e74c3c;
    color: white;
    border-radius: 5px;
    width: 100%;
}
.reset-btn:hover {
  background: #c0392b;}


.summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;


}
.summary div {

    margin-bottom: 10px;
     background: #c2e1f5;
     padding: 10px;
     border:  #65b9f1;
     border-radius: 5px;
}

/* Table-like styles for summary and history */

 .expense-history {
  width: 100%;
  border-collapse: collapse; /* Keeps borders collapsed for cleaner table */
  border-spacing: 0 10px; /* Adds vertical space between rows */
}

.expense-history th, .expense-history td {
  padding: 15px;
  text-align: left;
}

.expense-history tbody tr {
  border-bottom: 1px solid #ddd; /* Line separating each row */
}

.expense-history thead tr {
  border-bottom: 2px solid #0077cc; /* Distinct line for header */
}

.expense-history td:last-child {
  text-align: right;
}

.expense-history button {
  padding: 5px 10px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.expense-history button:hover {
  background: #c0392b;
}
